.arte365-newsletter {
	width: 100%;
	/* padding: 30px 0; */
	margin:0 auto;
	text-align:center;
}
.arte365-newsletter h3 {
	font-size: 34px;
	font-weight: 700;
	margin-bottom: 25px;
	text-align:left;
}

.arte365-newsletter p {
	font-size: 18px;
	margin-bottom: 25px;
	line-height: 1.6;
	color: #747478;
	padding: 0;
	text-align:left;
}

.arte365-newsletter form {
	display:flex;
	position: relative;
	width:100%;
	margin:0 auto;
	box-shadow: 9px 16px 36px 0px rgba(0, 0, 0, 0.18);
}
.arte365-newsletter form input[type="email"] {
	font-size: 14px;
	padding: 0 32px;
	height: 60px;
	width: calc(100% - 150px);
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid transparent;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
.arte365-newsletter form input::placeholder {
	font-size:20px;
	color:#747478;
}

.arte365-newsletter form .btn-submit {
	font-size: 20px;
	padding: 0 10px;
	height: 60px;
	border: 0;
	margin: 0;
	padding: 0;
	background: #f11336;
	cursor: pointer;
	color: #fff;
	width: 170px;
	text-align: center;
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}


.arte365-newsletter form .btn-submit:hover {
	background: #f80039;
}

.arte365-newsletter .result {
	color: #f80039;
	font-size: 18px;
	text-align: center;
	margin: 30px auto;
}


.arte365-newsletter .notice {
	border-top: 1px solid #d7d7d7;
	
	margin-top: 30px;
	padding: 20px 0;
	
}

.arte365-newsletter .notice p {
	font-size: 14px;
	line-height: 1.6;
	color: #6f6f6f;
	position: relative;
	padding-left: 10px;
}

.arte365-newsletter .notice p i {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

/* 20230607 뉴스레터 신청하기 추가 */
.arte365-newsletter .result {
    padding-top: 55px;
    box-sizing: border-box;
    font-size: 27px;
    font-weight: bold;
    text-align: left;
    color: #f37161;
    clear: both;
}
.agreement-container {
  font-size: 17px;
  color: #111;
  line-height: 1.7;
	max-width: 800px;
}
.agreement-container h5 {
  font-size: 17px;
  color: #111;
	padding-top: 20px;
}
.agreement-container .agreement-box {
	margin-top:10px;
	padding: 10px 20px;
	border:1px solid #111;
}
.agreement-container .agreement-box dt {
	color:#000;
	font-weight: 500;
	padding-left: 20px;
}
.agreement-container .agreement-table-box-text {
	font-size: 15px;
	color:#111;
	display: table;
}
.agreement-container .agreement-table-box-text em {
	display: table-cell;
	width: 20px;
}
.agreement-table-box-text,
.agreement-container .agreement-box dt,
.agreement-container .agreement-box dd {
    display: table;
}
agreement-table-box-text em,
.agreement-container .agreement-box dt em, 
.agreement-container .agreement-box dd em {
	display: table-cell;
	width: 20px;
}
.agreement-container .agreement-table-box-text a {
	color:#1a66ac;
	font-weight: 600;
	text-decoration: underline;
	margin-left: 5px;
}
.agreement-table-box {
}
.agreement-table-box table {
	width: 100%;
	border:2px solid #111;
	margin: 10px 0 20px;
}
.agreement-table-box table th {
	font-weight: 600;
	background-color: #f5f5f5;
}
.agreement-table-box table th,
.agreement-table-box table td {
	border:1px solid #111;
	padding: 10px;
	text-align: center;
}
.agreement-radio-box {
	text-align: right;
}
.agreement-radio-box br {
	display: none;
}
.agreement-radio-box label {
	display: inline-block;
	margin-left: 10px;
}
.newsletter_submit.newBg .post_box form input:read-only {
    background-color: #ccc;
    color: #fefefe;
}
/* 20240627 2024 아르떼 개편 메인 수정 */
.arte365-newsletter h3 {margin-bottom: 14px; font-size: 24px; font-weight: 600; line-height: 34px; color: #111;}
.arte365-newsletter p {margin-bottom: 62px; font-size: 16px; font-weight: 400; line-height: 26px; color: #333;}
.arte365-newsletter form {box-shadow: none;}
.arte365-newsletter form input[type="email"] {width: calc(100% - 131px); margin-right: 6px; padding: 0 30px; box-sizing: border-box; font-size: 16px; line-height: 26px; color: #999; border-radius: 4px;}
.arte365-newsletter form .btn-submit {width: 190px; background: #FF678E; border-radius: 4px; font-size: 18px; font-weight: bold; /* line-height: 55px; */ line-height: 60px;}
.arte365-newsletter form .btn-submit:hover {background: #FF4272;}
.arte365-newsletter form input::placeholder {font-size: 16px; color: #999; line-height: 26px; font-weight: 500;}

@media screen and (max-width:1400px){
	.arte365-newsletter{width:auto;}
}