{% include "templates/partials/header.html" %}

<div class="tabLink row swiper-container" style="height:90px;">
<div class="swiper-wrapper num7">
<div class="swiper-slide">
<a href="#A" class="selected" style="line-height: 1.5; align-content: center;">정책 초기부터<br>주목한 역량</a>
</div>
<div class="swiper-slide">
<a href="#B" style="line-height: 1.5; align-content: center;">흩어진 연수를<br>하나로: 아르떼<br>아카데미</a>
</div>
<div class="swiper-slide">
<a href="#C" style="line-height: 1.5; align-content: center;">학교, 시설,<br>교육을 위한<br>역량: 의무연수</a>
</div>
<div class="swiper-slide">
<a href="#D" style="line-height: 1.5; align-content: center;">역량의 확장:<br>교류와 협력</a>
</div>
<div class="swiper-slide">
<a href="#E" style="line-height: 1.5; align-content: center;">시대 변화에<br>발맞추기</a>
</div>
<div class="swiper-slide">
<a href="#F" style="line-height: 1.5; align-content: center;">예술적 야생성의<br>회복을 바라며</a>
</div>
</div>
</div>
<div class="postall_w">
<div class="posttext mt_25">우리가 자주 쓰는 ‘역량’은 단순히 어떤 기술적 능력이라기보다는, 지식과 스킬, 자기 개념화를 포함한 태도적 측면이 합쳐진 개념이다. 또한 역량은 어떤 조직이나 일의 성과를 효율적으로 높이는 데 필요한 구체적인 행동으로 제시된다. 문화예술교육 영역에서 ‘역량’은 정책 초반부터 현장에서 실행할 우수한 인력양성을 목표로 직무분석과 핵심역량을 규명하는 연구를 집중적으로 추진하며 등장했다. 문화예술교육 전문인력 양성사업<span style="display:inline;color:#2368c6;font-size:80%">(2007-2010)</span>과 예술강사 지원사업 참여 인력의 직무분석 연구를 시작으로, 핵심역량을 모델링하고 교육과정을 설계하는 연구가 수차례 있었다. 그러나 특정 조직의 직무와 상황을 전제로 하는 일반적 역량 개념을 적용하기엔 현장의 활동 영역과 방식은 매우 다양하다. 연구에서 제시한 역량은 사실상 정책사업 참여자에게 요구하는 직무 역량에 가까웠고, 그만큼 각 정책사업의 목적과 방향, 성과 목표와도 밀접하게 연결되어 있었다.</div>
<div class="post_research_box">
<ul class="research_list">
<li><span class="r_year">2006</span><span class="r_title">문화예술교육 전문인력 교육체계 연구</span></li>
<li><span class="r_year">2007</span><span class="r_title">문화예술교육 전문인력 직무분석 기초연구</span></li>
<li><span class="r_year">2008</span><span class="r_title">문화예술교육 전문인력 직무분석 및 CDP 수립 연구</span></li>
<li><span class="r_year">2009</span><span class="r_title">역량 기반 예술강사 연수 교육과정 개발 연구</span></li>
<li><span class="r_year">2009</span><span class="r_title">역량 기반 문화예술교육 기관·단체 실무자 연수 교육과정 개발 연구</span></li>
<li><span class="r_year">2010</span><span class="r_title">예술강사 핵심역량 모형 구축 연구</span></li>
<li><span class="r_year">2011</span><span class="r_title">예술강사 연수체계화 연구</span></li>
<li><span class="r_year">2011</span><span class="r_title">예술교육 촉진을 위한 자기진단도구 개발 연구(학교 예술강사용)</span></li>
<li><span class="r_year">2012</span><span class="r_title">문화예술교육사 등급별 교육과정 개발 연구</span></li>
<li><span class="r_year">2013</span><span class="r_title">아르떼 아카데미 교육과정 운영 방안 연구(학교·사회예술강사 연수과정 중심으로)</span></li>
<li><span class="r_year">2013</span><span class="r_title">예술강사 역량 모델링을 위한 기초연구</span></li>
<li><span class="r_year">2014</span><span class="r_title">학교·사회 예술강사 역량 사전 개발 연구</span></li>
</ul>
<div class="research_caption">진흥원에서 추진한 문화예술교육 전문인력 역량 및 역량 기반 교육과정 관련 연구 현황</div>
</div>
<div class="anker_wrap">
<div class="anker" id="A"></div>
<div class="anker_wrap">
<div class="anker"></div>
<div class="posttit tit1 mt_50">정책 초기부터 주목한 역량</div>
<p></p>
</div>
</div>
<div class="posttext mt_25">초기 연구는 기관·시설·단체에서 기획·행정을 담당하는 ‘문화예술교육 전문인력’과 수업을 진행하는 ‘예술강사’의 직무 수행에 필요한 최소 역량을, 문화예술교육사 자격제도가 도입 후에는 다양한 역할을 하는 실행자의 직무를 통합해 예술교육가의 역량을 모델링하고, 각 연구를 토대로 한 연수를 개설했다. 연구마다 관점과 방식, 역량모형의 차이는 있지만, ‘예술 전문성’ ‘교육 전문성’ ‘대상에 대한 이해’ ‘사명감’ 등의 역량은 반복적으로 등장했다.</div>
<div class="posttext mt_25">예술강사 직무에서는 ‘예술 전문성<span style="display:inline;color:#2368c6;font-size:80%">(예술적 감수성, 예술적 창의성, 예술적 표현성)</span>’을 기반으로 ‘교육 전문성<span style="display:inline;color:#2368c6;font-size:80%">(프로그램 요구 분석, 프로그램 설계․개발, 프로그램 실행)</span>’ ‘대인 관계<span style="display:inline;color:#2368c6;font-size:80%">(의사소통, 고객 지향성, 관계 형성․유지)</span>’와 ‘개발 지원 관계<span style="display:inline;color:#2368c6;font-size:80%">(동기 부여, 멘토링, 상담)</span>’ ‘성취 지향성<span style="display:inline;color:#2368c6;font-size:80%">(문제 해결, 갈등․위기 상황 관리, 변화 관리)</span>’ ‘개인 전문성<span style="display:inline;color:#2368c6;font-size:80%">(직업윤리, 자기 관리, 전문성 개발)</span>’ 역량을 갖출 때, 효과적인 예술교육 수행과 성과 창출이 가능하다고 보았다. 이렇게 도출된 역량 모델은 주로 예술강사 선발과 평가, 의무연수와 보수교육에 활용되었다.
</div>
<div class="posttext mt_25">2013년부터 문화예술교육사 2급 교육과정이 운영되면서, 진흥원 ‘아르떼 아카데미’는 정책사업에 진입했거나 진입하려는 사람들의 현장 직무 역량 강화 교육으로 역할을 구체화했다. 이에 따라 전문인력의 성장 유형과 전문성 발달 단계를 규명하고, 단계별 개발 역량에 따른 교육체계를 만들어나갔다. 현장에서 경직된 사업 구조와 방식에 대한 문제가 반복적으로 제기되듯, 전문인력 교육의 제도화, 체계화가 마냥 좋은 일만은 아닐 것이다. 10여 년 전에 하나로 규정한 핵심역량과 발달 단계를 토대로 해를 거듭하며 구조화된 아카데미 체계도를 2026년의 눈으로 다시 들여다보니, 현장의 다양성과 변화무쌍함을 담아 유연하게 변화해야 할 전문인력 교육이 점차 더 견고해진 것 같아 아쉽다. </div>
<div class="posttext mt_25">정책 초기부터 비중이 컸던 예술강사 사업 현장 주체에게는 아이들의 발달 단계를 고려해 장르별 수업을 기획·진행하는 교수 역량을 갖춘 ‘예술 선생님’과 같은 역할을 기대했다. 물론 구성주의적 교육 관점에서 창의성과 예술 경험을 위한 새로운 교수법을 지향하며 지역사회 연계 사업 등도 진행했다. 그러나 당시 연수 내용을 보면, 사업계획서의 차시별 학습지도안이나 교육 과정·대상별 교수법 등을 강조했다. 이는 안전하고 규격화된 ‘예술교육’을 요구하는 교육 현장에 대응하기 위해, 예술가보다는 ‘교육자’로서의 역량을 강조한 것으로 보인다. 여러 사업에서 예술가의 문화적 활동과 사회적 참여를 지향했지만, 오랫동안 ‘강사’나 ‘교사’라는 용어를 사용해 온 것이 현장 주체가 ‘나는 예술가인가, 교육가인가’ 하는 정체성 혼란을 가중하는 데 영향을 주었다고 본다. </div>
<div class="posttext mt_25">“문화예술교육은 교육이 아니잖아요” vs “문화예술교육은 교육이잖아요” 정책·사업 간담회나 집담회에서 자주 듣는 말이다. 연차가 얼마 되지 않았을 때는 꽤 혼란스러웠지만, 이제는 ’엄마 말도 맞고 아빠 말도 맞지‘ 하는 심정으로 두 말 모두 이해가 된다. 예술계와 교육계, 시설·기관마다 문화예술교육을 바라보는 관점이 미세하게 달라 프로그램에 대한 기대와 목격한 현상에 대한 평가도 다르다. 그래서 정책·제도가 예술교육가에게 요구하는 역량도 시기마다 어느 쪽 목소리가 더 힘 있게 전달되어 설득했느냐에 따라 변화해왔다.</div>
<div class="posttext mt_25">AI의 활용을 넘어 이제는 인공지능 대전환<span style="display:inline;color:#2368c6;font-size:80%">(AX, AI Transformation)</span>의 시대라고 한다. 1993년 스펜서<span style="display:inline;color:#2368c6;font-size:80%">(Spencer&Spencer)</span>가 제시한 5가지 역량<span style="display:inline;color:#2368c6;font-size:80%">(지식, 기술, 자아개념, 특질, 동기)</span> 중 겉으로 드러나는 지식과 기술은 정말 ‘빙산의 일각’에 불과하다. 이제는 AI를 통해 지식과 기술을 채울 수 있게 되어, 그 두 가지가 인간의 역량을 설명하는 요소에 포함될 수 있는지부터 다시 생각해봐야 할지도 모르겠다. 여전히 중앙이든 지역이든 정책사업 현장의 질을 높이기 위한 전략과제로 가장 많이 제시되는 말은 ‘역량 강화’다. 중장기적 정책 목표를 명확히 하지 않은 채 무심코 쓰는 ‘역량 개발’, 그리고 형용사처럼 붙이는 ‘역량 기반’이라는 표현은 이제 진지하게 재고할 필요가 있다. 역할과 역량의 기준이 달라지는 지금, 지역 문화예술생태계 전반을 고려해 현장 주체의 핵심적 역할을 재정의할 시점이 아닐까.</div>
<div class="postboimg ta_c mt_25" style="margin:0 auto">
<ul class="ul_floatkyh6">
<li class="n3 m_m_10" style="margin-left: 0; float: none"><a href="/wp-content/uploads/2026/09/issue_20260921_01.jpg" target="_blank" rel="noopener noreferrer" title="새창 이미지 열기"><img class="alignnone wp-image-40366 size-full" src="/wp-content/uploads/2026/09/issue_20260921_01.jpg" alt=""></a>
</li>
<div class="txts ta_r">2013년 ’학교·사회 예술강사 역량 모델(안)‘은 2009년부터 개발한 기존 역량 모델을 보완하고 변화하는 환경에서 예술강사에게 요구되는 역량을 수집하여 체계화했다.
<a href="https://lib.arte.or.kr/group01/board/ArchiveData_BoardView.do?board_id=BRD_ID0047450" target="_blank">[출처] 「2013 예술강사 역량 모델링을 위한 기초 연구」</a></div>
</ul>
</div>
<div class="anker_wrap">
<div class="anker" id="B"></div>
<div class="anker_wrap">
<div class="anker"></div>
<div class="posttit tit1 mt_50">흩어진 연수를 하나로: 아르떼 아카데미</div>
<p></p>
</div>
</div>
<div class="posttext mt_25">전문인력 양성은 정책 초기부터 학교·사회 문화예술교육과 더불어 핵심 정책영역 중의 하나였다. 예술강사 기본연수 등 정책사업별 직무연수와 더불어 문화예술교육 전문인력 아카데미 시범 사업<span style="display:inline;color:#2368c6;font-size:80%">(2006~2007)</span>, 국민체육진흥기금으로 추진한 아카데미 CETA<span style="display:inline;color:#2368c6;font-size:80%">(Creativity Education Through Arts, 2008~2010)</span>, 지역문화 아카데미<span style="display:inline;color:#2368c6;font-size:80%">(2011)</span> 등을 이어왔다. 2012년부터는 진흥원에서 추진하는 모든 연수 과정을 ‘아르떼 아카데미<span style="display:inline;color:#2368c6;font-size:80%">(ArtE Academy)</span>’라는 통합브랜드로 체계화했다. 전문인력 연수사업의 대상을 직접 매개자<span style="display:inline;color:#2368c6;font-size:80%">(예술강사, 단체 기획자 등)</span>와 간접 협력자<span style="display:inline;color:#2368c6;font-size:80%">(기관시설 담당자, 행정가 등)</span>로 구분하고, 관련 연구나 의견수렴 간담회 등을 거쳐 핵심 주제별 요구 역량을 중심으로 프로그램을 구성했다. 아르떼 아카데미는 ‘예술의 가치를 선도하는 문화예술교육 현장 실천가 양성’이라는 다소 거창한 미션을 표방하며 당시 핵심역량으로 도출된 예술·교육·행정 역량을 중심으로 기초-기본-심화-고급이라는 이론적인 단계를 세워 연간 연수를 운영했다. </div>
<div class="posttext mt_25">당시 아르떼 아카데미 브랜드로 체계화하는 일을 맡았던 담당자로서 부끄러움을 감수하고 고백하자면, 정책사업이 다양했던 만큼이나 연수 대상과 내용이 너무 다양했다. 예술강사 외에도 교원, 공무원, 기업·언론 관계자까지 아우르다 보니, 매년 정신없이 운영되는 프로그램을 교통정리 하고 싶은 마음이 컸다. 그땐 맞았을지도 모르지만, 지금은 틀렸다고 생각하는 것 중 하나다. 실제 현장에서는 기초부터 시작해 마스터 수준의 ‘고급’까지 선형적인 발전 단계를 거쳐서 전문가로 성장하지 않는다. 부처 예산 설득용 자료나 사업보고서에서는 유효할 수 있겠지만, 대부분 프리랜서인 예술가의 다양한 활동 특성을 고려하면 행동 변화와 성장·발전을 설명한 그 네모반듯한 체계도는 지금 봐도 너무 이상적이다.</div>
<div class="posttext mt_25">2022년 별도의 전문인력 연수사업 예산을 확보하기 전까지는 사실상 기존에 운영하던 학교·사회 예술강사, 단체 실무자·기획자, 학교 교원 연수 등에 ‘아르떼 아카데미’라는 커다란 우산을 씌운 형태였다. 학교·사회 문화예술교육 지원사업 내 자투리 예산을 활용하다 보니 정책사업에 참여하는 현장 인력의 직무교육 우선으로 운영되었다. 아카데미 범주 외에도 예술꽃 씨앗학교, 꿈의 오케스트라, 문화다양성, 문화예술치유 등 정책사업 목표와 운영 사항 이해를 위한 사업 관계자 연수와 워크숍이 병행되었다.</div>
<div class="postboimg ta_c mt_25" style="margin:0 auto">
<ul class="ul_floatkyh6">
<li class="n3 m_m_10" style="margin-left: 0; float: none"><a href="/wp-content/uploads/2026/09/issue_20260921_02.jpg" target="_blank" rel="noopener noreferrer" title="새창 이미지 열기"><img class="alignnone wp-image-40366 size-full" src="/wp-content/uploads/2026/09/issue_20260921_02.jpg" alt=""></a>
</li>
<div class="txts ta_r">진흥원 전문인력 아카데미 변화 흐름 및 역량 체계</div>
</ul>
</div>
<div class="anker_wrap">
<div class="anker" id="C"></div>
<div class="anker_wrap">
<div class="anker"></div>
<div class="posttit tit1 mt_50">학교, 시설, 교육을 위한 역량: 의무연수</div>
<p></p>
</div>
</div>
<div class="posttext mt_25">전문 교육을 받으며 성장한 예술가가 전공자 레슨이 아닌 일반 학교에서 문화예술교육을 한다는 것은 그때나 지금이나 쉬운 일은 아니다. 그래서 신규 예술강사가 조금이라도 학교 교육 과정을 이해하며 현장에 적합한 교수 활동을 할 수 있도록 하는 최소한의 직무연수를 제공했다. 2005년부터 2012년까지 운영한 ‘예술강사 기본연수’는 장르별로 1년차-이해<span style="display:inline;color:#2368c6;font-size:80%">(60시간)</span>, 2년차-실행<span style="display:inline;color:#2368c6;font-size:80%">(60시간)</span>, 3년차-기획<span style="display:inline;color:#2368c6;font-size:80%">(20시간)</span>으로 총 140시간을 3년에 걸쳐 수료하는 긴 교육과정이었다. </div>
<div class="posttext mt_25">2009년부터 사업비 급증으로 신규 강사 수가 크게 늘면서, 예술강사 교육위원회<span style="display:inline;color:#2368c6;font-size:80%">(2005~2015)</span>와 함께 개발한 분야별 학교문화예술교육 커리큘럼 표준을 토대로 연수 과정을 구성했다. 학교·사회 예술강사 기본연수는 개정된 학교 교육 과정 이해와 장르별 예술 수업 구성·운영 노하우, 복지 시설 현장과 대상별<span style="display:inline;color:#2368c6;font-size:80%">(아동, 노인, 장애인)</span> 특성에 대한 이해, 프로그램 기획 실습 등의 교과목으로 구성됐다. 2011년에는 ‘예술교육 촉진을 위한 자기진단 도구’로서 설문지와 MBTI 성격유형에 따른 분석 툴을 개발해 학교예술강사 기본연수에서 자기 역량 진단에 활용하기도 했다.</div>
<div class="posttext mt_25">2013년부터 문화예술교육사 2급을 취득한 뒤 선발되는 신입 예술강사를 고려해, 60시간으로 줄인 새로운 ‘예술강사 의무연수’<span style="display:inline;color:#2368c6;font-size:80%">(2013-2016)</span>을 운영했다. 의무연수는 장르를 넘나드는 창의적 예술교육 체험 워크숍, 현장 사례, 대상 이해, 선배 강사 멘토링과 기획 실습 중심으로 압축 구성되었다. 이 연수 과정은 2016년까지 운영되다가 여러 이슈로 예술강사 평가·보수교육제도와 함께 폐지되었다. 현재 아르떼 아카데미 연수는 정책사업 실행 주체 대상 법정필수교육<span style="display:inline;color:#2368c6;font-size:80%">(동영상)</span>을 제외하고 모두 선택 참여 방식으로 운영되고 있다.</div>
<div class="postboimg ta_c mt_25" style="margin:0 auto">
<ul class="ul_floatkyh6">
<li class="n3 m_m_10" style="margin-left: 0; float: none"><a href="/wp-content/uploads/2026/09/issue_20260921_03.jpg" target="_blank" rel="noopener noreferrer" title="새창 이미지 열기"><img class="alignnone wp-image-40366 size-full" src="/wp-content/uploads/2026/09/issue_20260921_03.jpg" alt=""></a>
</li>
<div class="txts ta_r">예술강사 기본연수 코스체계(2005~2016)</div>
</ul>
</div>
<div class="anker_wrap">
<div class="anker" id="D"></div>
<div class="anker_wrap">
<div class="anker"></div>
<div class="posttit tit1 mt_50">역량의 확장: 교류와 협력</div>
<p></p>
</div>
</div>
<div class="posttext mt_25">한편, 국내외 문화예술교육의 좋은 실천 사례를 발굴하고, 해외 전문기관·단체와 교류·협력하는 일은 중앙기관으로서 진흥원의 중요한 역할 중 하나다. 아카데미 시범사업<span style="display:inline;color:#2368c6;font-size:80%">(2006~2007)</span> 때부터 꾸준히 해외 전문가 초청 워크숍, 해외 탐방형 연수를 운영했다. 또한, 경력을 쌓은 예술강사가 늘어나면서 문화예술교육 전문가로서 역량을 더욱 확장할 수 있도록 프로그램을 개설했다. 
</div>
<div class="posttext mt_25">뉴욕 링컨센터 연수 ‘예술강사 LC(learning coach) 과정’<span style="display:inline;color:#2368c6;font-size:80%">(2008)</span>, ‘아르떼강사 양성과정’<span style="display:inline;color:#2368c6;font-size:80%">(2012-2013)</span>, ‘KCP 우수 예술교육가 양성과정’<span style="display:inline;color:#2368c6;font-size:80%">(2016-2017)</span>, ‘창의적 예술교육 프로젝트’<span style="display:inline;color:#2368c6;font-size:80%">(2017-2019, 2022)</span>, 예술강사 CoP 등을 운영했지만, 아쉽게도 예산과 제도적 이슈로 지속하지 못했다. 이는 참여자가 공공에서의 역량 강화 프로그램 이후에 기대했던 레벨업 사업이나 연계 지원 등에 대한 신뢰를 떨어뜨리는 요인으로 작용했다. 그럼에도, 과거 다양한 연수에 참여한 이들이 현재 문화예술 정책사업 현장 곳곳에서 문화기획자, 프로젝트 매니저 등 핵심적인 역할을 하는 모습을 자주 만난다. 정신없이 변화한 정책 속에서 진행해 온 그간의 역량 강화 프로그램들이 조금이나마 긍정적인 역할을 했음을 증명해주는 것만 같아 그저 반갑고 감사한 마음이다.</div>
<div class="posttext mt_25">집합 연수 외에도 ‘찾아가는 현장 연수’나, 현장 주체의 R&D 개발과 네트워크, 현장 교류를 장려하는 사업도 많았다. ‘학습공동체: 아르떼 동아리CoP’<span style="display:inline;color:#2368c6;font-size:80%">(2012-2017)</span> ‘프로그램/콘텐츠 공모전’ ‘전문가 연구회’ ‘오픈랩’ 지원 등 다양한 방식의 역량 강화 프로그램을 추진했다. 2018년 구성된 ‘문화예술교육 지역협력위원회’에서의 논의를 거쳐 ‘지역문화예술교육지원센터 협력 문화예술교육 연수’<span style="display:inline;color:#2368c6;font-size:80%">(2018-2023)</span>를 추진하다가, 현재는 지역 여건과 수요에 맞는 역량 강화 프로그램을 지역센터별로 기획해 추진하고 있다.</div>
<div class="postboimg ta_c mt_25" style="margin: 0 auto;">
<ul class="ul_floatkyh6">
<li class="n3 m_m_10" style="margin-left: 0; float: none;"><a style="width: 100%;" title="새창 이미지 열기" href="/wp-content/uploads/2026/09/issue_20260921_04.jpg" target="_blank" rel="noopener noreferrer"><img class="alignnone wp-image-4566 size-full" src="/wp-content/uploads/2026/09/issue_20260921_04.jpg" alt="" /></a>
<div class="txts ta_r">2005~2018 해외전문가 초청워크숍 연대기
<a href="https://lib.arte.or.kr/group06/board/ArchiveData_BoardView.do?board_id=BRD_ID0048156" target="_blank"> 「BEYOND 50 RE:START」</a></div>
</li>
<li class="n3 m_m_10" style="margin-left: 0; float: none;"><a style="width: 100%;" title="새창 이미지 열기" href="/wp-content/uploads/2026/09/issue_20260921_05.jpg" target="_blank" rel="noopener noreferrer"><img class="alignnone wp-image-40366 size-full" src="/wp-content/uploads/2026/09/issue_20260921_05.jpg" alt="" /></a>
<div class="txts ta_r">2018 하반기 지역센터 협력 및 운영지원 연수 간담회 <a href="https://arte365.kr/?p=69298" target="_blank">(관련기사 보기)</a> </div>
</li>
</ul>
</div>
<div class="anker_wrap">
<div class="anker" id="E"></div>
<div class="anker_wrap">
<div class="anker"></div>
<div class="posttit tit1 mt_50">시대 변화에 발맞추기</div>
<p></p>
</div>
</div>
<div class="posttext mt_25">지난 20년간의 아카데미 사업 자료를 들추어 각종 연수프로그램과 담론장에서 논의된 내용을 톺아보니, 그간 정책이 강조하고 현장에 요구했던 역량 변화의 흐름이 보였다. 정책의 시작 단계에서는 ‘기획과 매개’ 역할에 집중하다가, 예술강사 사업이 커지면서 교육 현장의 요구로 ‘교수법과 수업 노하우’를 강조했다. 더불어 수많은 공모 지원사업이 쏟아지며 사업 오리엔테이션과 워크숍, 컨설팅·평가 과정에서 ‘기획 스킬’과 ‘행정 역량’을 강조했다. 그래서 한때 사업에 선정되기 위한 기획서 작성이나 정산 지적을 덜 받는 팁에 대한 연수 수요가 매우 높았다. 그 와중에 연수사업도 ‘수요 맞춤형 기획’이라는 함정에 빠져, 실행 주체의 수요(사실상 정책이 강조한 요구)를 반영한 연수를 개설하다 보니, 연수장이 마치 기획서 작성 학원<span style="display:inline;color:#2368c6;font-size:80%">(?)</span>을 방불케 하는 모습도 연출됐다. </div>
<div class="posttext mt_25">그러다가 문화예술교육의 정체성 논의가 심화하면서, 다시 예술가로서의 본능을 깨우는 ‘예술 전문성’에 집중한 연수를 개설했다. 코로나19 시기 등장한 비대면 콘텐츠나 지난해 AI 활용 콘텐츠 제작 방법, 늘봄학교 문화예술교육 강사 양성 등 시대적 요구에 대응하는 프로그램을 운영하기도 했다. 이제는 점차 전국의 공모사업 현장에서 재생산되는 프로그램 형태를 깨부수는 ‘새로운 기획력과 지역에서의 폭넓은 매개’ 역량이 필요해진 상황이라고 정리해 볼 수 있겠다. </div>
<div class="posttext mt_25">온라인 연수 확대로 정책 초기 대비 물리적 접근성은 좋아졌지만, 신규 예술강사 의무연수 폐지 등으로 연수가 정책사업의 질 높이는 데 미치는 영향력은 다소 낮아졌다고도 볼 수 있다. 게다가 공고해진 아카데미 연수 체계나 모듈화된 틀 안에서는 개별 연수 과정의 실효성을 높이는 데에도 한계가 있다. 2013년에 아카데미 연수 과정의 실효성과 현장 효과성을 분석하고자 ‘현업 활용도 조사’ 등 입체적 연수 평가 체계도 마련했으나, 여전히 단기 연수에 일회적 참여가 정책사업 현장 변화에 얼마나 영향을 미치는지 알기는 쉽지 않다. </div>
<div class="posttext mt_25">연수가 사업 현장으로 제대로 이어지기 위해서는 무엇보다 제도적 연결이 선행되어야 한다. 교육·학습·배움의 개념과 방식이 변화하고 있는 지금, 연수 내용뿐만 아니라 연수 이후 CoP 등 커뮤니티 활동과 매개자 네트워크 지원, 다양한 분야와의 협력 기반 콘텐츠 제작과 인큐베이팅, 자생력을 갖출 수 있는 프로젝트 지원 등 보다 중장기적 관점의 인력양성·지원을 위한 새로운 정책사업이 필요하다.</div>
<div class="anker_wrap">
<div class="anker" id="F"></div>
<div class="anker_wrap">
<div class="anker"></div>
<div class="posttit tit1 mt_50">예술적 야생성의 회복을 바라며</div>
<p></p>
</div>
</div>
<div class="posttext mt_25">지난해부터 대전에 있는 옛 충남도청사를 리모델링하여 문화예술교육 전문 연수원<span style="display:inline;color:#2368c6;font-size:80%">(가칭. 문화예술 미래원)</span> 조성 공사를 추진하고 있다. 연수원의 필요성과 조성계획 논의는 2009년 「문화예술 인재개발원 조성 방안 연구」, 2018년 「문화예술교육 전문 연수원 조성 기본계획 수립 및 기본 구상 연구」와 「건립 타당성 연구」 등 오래전부터 진행되었다. 지난 연구를 토대로 건축 기획 설계를 거쳐 2025년부터 단계적 리모델링을 시작했다. AI 일상화 등으로 연수 방식과 내용, 현장에서 필요로 하는 전문성 영역도 변화하면서, 기존에 추진해 온 ‘역량 기반 연수’ 방식만으로는 더 이상 유효한 학습과 성장, 현장의 변화를 만들어내기는 어렵다는 게 중론이다. 그래서 이 시대에 물리적인 전문 연수원이 꼭 필요한가에 대한 질문도 적지 않다. </div>
<div class="posttext mt_25">올해 10월부터 일부 공간을 개관해 시범 운영할 ‘문화예술 미래원’은 그래서 ‘연수’에만 초점을 맞추고 있지 않다. 해야만 하는 ‘역량 강화’가 아닌, 다양한 현장 주체가 에너지와 새로운 상상력이 필요할 때 찾는 충전소가 되기를 바란다. 또한 다양한 전문가들이 모여 연구하고 정책과 현장의 담론을 만들어가는 장이 되었으면 한다. 나아가 문화예술교육의 현재적 의미와 문화예술의 동시대적 가치를 보여주는 상징적 허브로 자리하기를 바란다.</div>
<div class="posttext mt_25">20세기 역량 강화의 시대는 이제 끝났다. 불안한 마음을 위로하는 ‘역량 강화’가 아닌, 자연스레 배움을 북돋는 ‘예술적 야생성’에 집중할 용기가 필요하다. AI 시대가 왔다며 문화예술교육 정책과 현장에서도 더 잘하려고<span style="display:inline;color:#2368c6;font-size:80%">(고도화)</span>, 더 빨리 앞서가려는<span style="display:inline;color:#2368c6;font-size:80%">(미래 대응)</span> 움직임이 많아졌다. 정책 집행기관에서 일하는 사람으로서 다소 도전적인 생각일 수 있겠으나, 오히려 지금 정책과 현장에는 의도적 퇴행, 언러닝<span style="display:inline;color:#2368c6;font-size:80%">(unlearning)</span>과 언두잉<span style="display:inline;color:#2368c6;font-size:80%">(undoing)</span>, 그리고 일종의 예술적 야생성을 회복하는 리와일딩<span style="display:inline;color:#2368c6;font-size:80%">(re-wilding)</span>이 절실하다고 본다. 이러한 시도와 질문이 ‘문화예술 미래원’에서 계속 생성되기를 꿈꾼다. 정책이 현장 주체에게 변화와 성장을 요구하듯, 현장의 힘이 정책에 필요한 균열을 내며 더 나은 모습으로 변화해 나가기를 바라며.</div>
<div class="postphotoin mt_45">
<div class="le"><img src="/wp-content/uploads/2026/09/profile_kimjuri.jpg" alt="김주리"></div>
<dl>
<dt>김주리</dt>
<dd>일상에서 예술이 주는 새로운 시선, 호기심 혹은 뜻밖의 위로, 이런 문화적 경험들이 삶을 지속해 나가는 데 큰 힘이 된다는 믿음으로 오랜 기간 아르떼<span style="display:inline;color:#2368c6;font-size:80%">(KACES)</span>에 몸담고 있다. 학교문화예술교육 지원, 정책 담론과 현장 이슈 공론화, 협력 거버넌스 구축, 기관 경영전략 및 신사업 기획, 어린이 복합문화공간 조성 등 다양한 업무를 담당했다. 현재는 문화인재양성본부에서 아카데미 연수 등 전문인력 사업과 연수원<span style="display:inline;color:#2368c6;font-size:80%">(가)</span> 조성, 정책 홍보 및 R&D 사업을 추진하며, AX 시대에 더욱 중요해지는 문화예술교육의 방향성을 찾고자 노력하고 있다.<br/><a href="mailto:kjooly@arte.or.kr">kjooly@arte.or.kr</a></dd>
<dd class="mt_25">섬네일_아르떼 아카데미 ‘2019 유아문화예술교육 해외전문가<span style="display:inline;color:#2368c6;font-size:80%">(울프트랩)</span> 초청 연수’</dd>
</dl>
</div>
</div>
{% include "templates/partials/footer.html" %}